* {
    padding: 0;
    margin: 0;
}

header {
    height: 60px;
    background: rgb(44, 77, 210);
    border: 2px solid blue;
    font-family: 'Reem Kufi Fun', sans-serif;
    justify-content: center;
    position: sticky;
    z-index: 3;
    top: 0;
}

nav {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    /* width: 10px; */

}

.logo img {
    width: 133px;
    padding: 0 10px;
}

nav ul {
    padding: 7px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 0 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    /* color: rgb(107, 13, 106); */
    font-weight: bolder;
}

.search {
    display: flex;

    align-items: center;
}

.search input {
    width: 30vw;
    height: 30px;
    border-radius: 5px;
    margin: 0 15px 0 60px;
}

.search button {
    font-family: 'Reem Kufi Fun', sans-serif;
    margin: 10px;
    background-color: rgb(44, 77, 210);
    padding: 5px;
    width: 10vw;
}
.container1{
    width: 90vw;
    background-color: antiquewhite;
}

.container {
    min-height: calc(100vh - 60px - 8vh);
}
.slider{
    margin: 3vw 20vw auto 20vw ;
    display: inline-flex;
    width: 60vw;
    justify-content: center;
    overflow: hidden;
}
main{
    background-color: white;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    margin: 37px auto;
    max-width: 88vw;
    align-items: center;
    /* background-color: blueviolet; */
}
.cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.card-item{
    margin: 35px;
    display:inline-flex ;
    justify-content: center;
    flex-direction: column;
    /* width: 10vw; */
}

footer {
    height: 8vh;
    background-color: black;
    color: white;
    font-family: 'Reem Kufi Fun', sans-serif;
}